* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Cabin Sketch', cursive; */
    /* overflow: hidden; */

}

body{
    font-family:'Cabin Sketch', cursive;

}

/* header and nav */

.firstPageDesktop{
    display: none;
}

.omModestaDesktop{
    display: none;
}

.inBetweenDesktop{
    display: none;
}

.inBetweenDesktop1{
    display: none;
}

.udstillingDesktop{
    display:none;
}

.prisDesktop{
    display: none;
}


.header1{
    height: 15vh;
    background-color: #0D0D0D;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.header1 img{
    height: 80%;
}

.header1 svg{
    fill: whitesmoke;
    transform: rotateZ(89.8deg);
    cursor: pointer;
    /* border: solid red 1px; */
    margin-top: 2%;
    margin-right: 2%;
    width: 70px;
    height: 70px;
}

.header1 svg:hover{
    /* background-color:#04B2D9; */
    transition: 0.4s ease-in;
}

.nav1{
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    /* font-family:'Cabin Sketch', cursive; */
    height: 50vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-top: 12vh;
    padding-right: 15px;
}

.visible{
    display: flex;
    
}

.nav1 a{
    margin: 2vh;
    text-decoration: none;
    color: #04B2D9;
}


/* header and nav ends */

.main{
    /* padding-top: 15vh; */
    height: 100vh;
    /* font-family: 'Syncopate', sans-serif; */
}
.main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* start OM MODESTA */


.header2{
    width: 95%;
    margin: 0 auto;
    color: black;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 3vh;
    /* margin-bottom: 2vh; */
    transform: rotateZ(-3deg);
}

.carSvg{
    width: 20%;
    /* margin: 0 auto; */
    fill: #04B2D9;
    animation: moveCar 6s ease-out 3s infinite;
}

@keyframes moveCar{
    100% {transform: translateX(75vw);}
}

.omModesta{
    /* background-color: black; */
    text-align: center;
    color: black;
}

.omModesta p{
    background-color: #D9AF8B;
    margin: 0 auto;
    width: 95%;
    padding: 2vh 0px;
    font-size: x-large;
}

.omModesta div{
    background-color: #D9AF8B;
    margin: 0 auto;
    height: 2px;
    width: 20%;
    border-bottom: 1px solid #04B2D9;
}

/* start GALLERI */

.titleGalleri{
    width: 300px;
    margin: 0 auto;
    /* padding-bottom: 3vh; */

}

.titleGalleri h1{
    text-align: center;
    font-size: 2.5em;
    padding-top: 3vh;
    line-height: 50%;
}

.titleGalleri h2{
    margin-left: 65%;
    /* background-color: rgba(0, 0, 0, 0.558); */
    color: black;
    display: inline-block;
    transform: rotateZ(-20deg);
    border-radius: 10px;
    font-size: 2rem;
    animation: moveGalleri 2s ease infinite alternate;
}

@keyframes moveGalleri{
    100%{transform: rotateZ(-48deg);}
}

.carSvg2{
    width: 20%;
    /* margin: 0 auto; */
    fill:#04B2D9;
    animation: moveCar 6s ease-out 3s infinite;

}

/* start GALLERY */
.gallery{
    width: 95%;
    padding-bottom: 2vh;
    margin: 0 auto;
    display: grid;
    /* grid-template: repeat(2, 50%) / repeat(2, 50%); */
    grid-template: auto / repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 10px;
}

.gallery img{
    /* height: 100%; */
    width: 100%;
    border: 5px #04b2d934 solid;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    object-fit: cover;
}

.gallery img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.lightBox-wrapper {
    background-color: rgba(0, 0, 0, 0.993);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    display: none;
    
}

.toSee{
    display: block;
}

#lightBoxImg{
    height: 100%;
}

/* #endregion lightbox */
/* lightbox classes */

/* start Prispakker */
/* #region third section */

.wrapper3{
    background-image: url('../img/blabaggrund.png');
    display: flex;
    flex-direction: column;
    align-items: center;
}



.textAreaTwo{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: x-large;
}
.textAreaTwo p{
    width: 75%;
    font-size: x-large;
}

/* first offer pakage */
.eventPakkeEt{
    /* text-align: center; */
    height: 70vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    background-color:#3b4c5c3d;
    border: 2px #3b4c5c3d solid;
    border-radius:10%;
    background-color: rgba(173, 216, 230, 0.313);
    margin-bottom: 5vh;
}

.eventPakkeEt h3{
    text-align: center;
}

.eventPakkeEt p{
    font-size: large;
}

.eventPakkeTo p{
    font-size: large;
}


.valuta{
    width: 85%;
    margin: 0 auto;
    border-bottom: 3px solid rgba(255, 255, 255, 0.429);
    border-top: 3px solid rgba(255, 255, 255, 0.429);
    padding: 3vh;

}

.list{
    font-size: 0.7rem;
    padding-left: 26px;
}

.listP{
    font-size: 0.7rem;
    padding-left: 20px;


}

.thirdButton{
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    cursor: pointer;
    border: 1px white solid;
    color: white;
}

/* second pakage */

.eventPakkeTo{
    /* text-align: center; */
    height: 70vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: large;
    background-color:#3b4c5c3d;
    border: 2px #3b4c5c3d solid;
    border-radius:10%;
    background-color: rgba(173, 216, 230, 0.313);
    margin-bottom: 8vh;
    font-size: x-large;
}

.fourthButton{
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    cursor: pointer;
    border: 1px white solid;
    color: white;
}

.eventPakkeTo h3{
    text-align: center;
    color: rgb(255, 217, 0);
}

.valuta2{
    width: 90%;
    color: rgb(255, 217, 0);
}

/* #endregion third section */

/* fourth section kontakt info */
/* #region third section */

.wrapper4{
    background-color: black;
}

.thirdHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 0 auto;
    color: white;
}

.thirdHeader h2{
    padding-top: 5vh;
    font-weight: bold;
    font-size: 5vw;
}


.personalInfo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5vh;
}

.theInfo{
    margin: auto;
    width: 90%;
    display: flex;
}

.textInfo{
    color: white;
    padding-left: 20%;
    padding-bottom: 5vh;
    width: 100%;
    /* display: flex; */
}

.textInfo p{
    padding-top: 7px;
    width: 100%;
    
}

p span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.theInfo svg{
    fill: #04B2D9;
    height: 3.5rem;
    
}

/* start FOOTER */

footer{
    padding-top: 20px ;
    color: white;
    text-align: center;
    font-family: sans-serif;

}

footer svg{
    fill: white;
    height: 15px;
    width: 10px;
}

footer h5{
    display: inline-block;
}

/* desktop version start  */

@media (min-width:800px){
    /* header & nav */
    .header1{
        display: none;
    }
    .nav1{
        display: none;
    }
    main{
        display: none;
    }
    .inBetween1{
        display: none;
    }
    .omModesta{
        display: none;
    }

    .wrapper2{
        display: none;
    }
    /* contact info */
    .wrapper4{
        display: none;
    }

    /* price info */
    .wrapper3{
        display: none;
    }

    
    /* starts */
    .firstPageDesktop{
        display: flex;
        width: 95%;
        margin: 0 auto;
    }

    

    .desktopMain{
        display: flex;
        justify-content: space-evenly;
    }

    .desktopHeader1{
        width: 70%;
        height: 100vh;
    }

    .desktopHeader1 img{
        width: 100%;
    }

    .nav2{
        display: flex;
        /* height: 70vh; */
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        /* font-size: x-large; */
        font-size: 3vw;
        font-weight: bolder;
        padding-bottom: 220px;

    }

    .nav2 a{
        text-decoration: none;
        color: #00a5e2;


    }

    .desktopText{
        width: 37%;
        padding-top: 20vh;
        padding-left: 70px;
        position: relative;
        /* border: solid 2px red; */
        /* font-size: 2.5vw; */
    }

    .desktopText::after{
        content: "";
        background: url(../img/rødBilBaggrund1.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        opacity: 0.3;
        top: 15vh;
        left: 2vw;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 
    }
    .desktopText p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 20vw; 
        height: auto;
        font-size: 1.5vw;

        /* font-size: 1vw; */
    }

    .desktopText h2{
        padding-bottom: 10px;
        width: 250px;
        height: auto;
        font-size: 5.5vw;
    }

    .glassPart{
        padding-left: 70px;
        transform: rotateZ(90deg);
        animation: moveGlass 2s ease infinite alternate;

        /* border: solid blue 1px; */
    }

    @keyframes moveGlass{
        100%{transform: rotateZ(-35deg);}
    }

    .coatingPart{
        padding-top: 4.5vw;
    }
    /* contact info */
    .wrapper4Desktop{
        background-color: black;
        font-size: 1.5vw;
        /* width: 70%;
        height: 62vh; */
        margin-bottom: 130px;
        border-radius: 20px;
        border: 3.5px rgba(255, 255, 255, 0.796)  solid;
        -webkit-box-shadow: 10px 10px 294px 62px rgba(212,151,81,1);
        -moz-box-shadow: 10px 10px 294px 62px rgba(212,151,81,1);
        box-shadow: 10px 10px 400px 22px rgba(212,151,81,1);
    }
    /* conract info ends */

    .inBetweenDesktop{
        /* margin-top: 10vh; */
        margin: 15vw auto 0 auto;
        /* height: 20vh; */
        width: 80%;
        border-top:black 5px solid ;
        border-bottom: black 5px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .inBetweenDesktop img{
        width: 30%;
        opacity: 0.5;
        border-radius: 5%;
    }

    .inBetweenDesktop svg{
        width: 20%;
        /* margin: 0 auto; */
        fill: #04B2D9;
    }

    .inBetweenDesktop1{
        margin: 0 auto 0.25vw auto;
        height: 20vh;
        width: 80%;
        border-top:black 5px solid ;
        border-bottom: black 5px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .inBetweenDesktop1 img{
        width: 30%;
        opacity: 0.5;
        border-radius: 5%;
    }

    .inBetweenDesktop1 svg{
        width: 20%;
        /* margin: 0 auto; */
        fill: #04B2D9;
    }

    /* about modesta */

    .omModestaDesktop{
        display: block;
        font-size: 1.4vw;
        color: black;
        margin-top: 3vw;
        

    }

    .beskrivelse{
        width: 30%;
        padding: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        box-shadow: 0px 0px 20px 4px rgba(19,164,212,1);
        /* border: red solid 1px; */
    }

    .desktopHeader2{
        /* padding-top: 9vw; */
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin-left: 20px;
    }

    .uniktHårdt{
        margin-right: 11vw;
        cursor: zoom-in;
        transition: 900ms;
    }

    .omModestaSvg{
        width: 50%;
        margin-left: 7vw;
        /* margin-top: 2vw; */
        /* border: red solid 1px; */
        transform: rotateZ(-20deg);
    }

    text{
        font-size: 4rem;


    }

    .desktopFooter{
        width: 90%;
        color: black;
        display: flex;
        align-items: center;
        /* justify-content: space-evenly; */
        text-align: center;
        margin-left: 20px;
        margin-bottom: 3vw;
    }

    .avanceret{
        margin-left: 14vw;
        margin-top: 1.9vw;
        width: 38.2%;
        cursor: zoom-in;
        transition: 900ms;
    }

    .sværProdukt{
        margin-top: 1.9vw;
        margin-left: 3.2vw;
        cursor: zoom-in;
        transition: 900ms;
    }

    .uniktHårdt:hover{
        transform: scale(1.1);
    }

    .avanceret:hover{
        transform: scale(1.1);
    }

    .sværProdukt:hover{
        transform: scale(1.1);

    }
    
    /* .omModestaDesktop{
        display: block;
        height: 160vh;
        width: 100%;
        margin: 50px auto 0 auto;
        display: grid;
        grid-template: repeat(4,25vh) / repeat(4,25%) ;  
      
    }

    .desktopHeader2{
       
        transform: rotateZ(-20deg);
        align-self: center;
        grid-area: 1 / 1 / 4 / 3;
    }

    .desktopHeader2 svg {
        width: 50vw;
        height: 35vw;
    }

    text{
        font-size: 4.5rem;
        animation: moveModesta 4s ease-out infinite alternate;
    }

    @keyframes moveModesta{
        100% {transform: rotateZ(-2deg);}
    }

    

    .uniktHårdt{
        grid-area: 1 / 3 / 3 / 5;
        font-size: 2.5vh;
        border: 10px rgba(255, 255, 255, 0.925)  solid;
        text-align: center;
        margin-top: 200px;
        width: 90%;
        align-self: center;
        background-color: black;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        box-shadow: 0px 0px 20px 4px rgba(19,164,212,1);
        border-radius:20px;
        height: 500px;
        color: white;
        padding: 4%;
        cursor: zoom-in;
        transition: 900ms;

        
    }

    .avanceret{
        grid-area: 3 / 3 / 5 / 5;
        border: 10px rgba(255, 255, 255, 0.925)  solid;
        font-size: 2.5vh;
        text-align: center;
        width: 90%;
        align-self: center;
        background-color: black;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        box-shadow: 0px 0px 30px 4px rgba(19,164,212,1);
        border-radius:20px;
        height: 550px;
        color: white;
        padding: 4%;
        margin-bottom: 30px;
        margin-top: 600px;
        cursor: zoom-in;
        transition: 900ms;
        
    }

    .sværProdukt{
        grid-area: 3 / 1 / 5 / 3;
        border: 10px rgba(255, 255, 255, 0.925)  solid;
        font-size: 2.5vh;
        text-align: center;
        width: 90%;
        align-self: center;
        height: 550px;
        margin-bottom: 30px;
        margin-top: 600px;
        justify-self: center;
        background-color: black;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(19,164,212,1);
        box-shadow: 0px 0px 30px 4px rgba(19,164,212,1);
        border-radius:20px;
        color: white;
        padding: 4%; 
        cursor: zoom-in;
        transition: 900ms;

    }

    .beskrivelse{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .uniktHårdt:hover{
        transform: scale(1.1);
    }

    .avanceret:hover{
        transform: scale(1.1);
    }

    .sværProdukt:hover{
        transform: scale(1.1);
        
    } */

    /* UDSTILLING AFSNIT */

    
    .udstillingDesktop{
        display: block;
        position: relative;
    }

    .udstillingDesktop h2{
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 1;
        /* border: 1px red solid; */
        top: 30%;
        font-size: 8rem;
        color: white;
    }
    
    .hero  {
        position: relative;
        height: 70vh;
        width: 100%;
        margin: 0 auto;
        border-top: black 2px dashed;
        /* border-bottom: dashed 2px black; */
        /* margin-bottom: 4vh; */
        /* border: red 8px solid; */
        /* display: flex;
        justify-content: space-evenly;
        align-items: center; */
    }
    
    .hero img {
        /* display: none; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* height: 100%; */
        /* border-radius: 30%; */
        box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.5);
        /* border: thick solid rgba(172, 255, 47, 0.459); */
        
    }
    
    #buttonLeft {
        position: absolute;
        top: 35%;
        left: 3%;
        cursor: pointer;
        color: rgb(255, 255, 255);
        opacity: 0.7;
        font-size: 6em;
        /* margin-left: 10%; */
        z-index: 1;
    }
    #buttonRight {
        position: absolute;
        top: 35%;
        left: 91%;
        cursor: pointer;
        /* color: #293031a7; */
        color: rgb(255, 255, 255);
        opacity: 0.7;
        font-size: 6em;
        margin-right: 10%;
    }

    /* PRISER */
    .prisDesktop{
        display: block;
        width: 100%;
        /* height: 220vh; */
        background-color: black;
        

    }
    .behandlingDesktop{
        /* margin-top: 20vh; */
        /* background-color: red; */
        color: white;
        margin: 0 auto;
        /* height: 40vh; */
        width: 80%;
        border-top:rgb(255, 255, 255) 5px dashed ;
        border-bottom: white 5px dashed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .behandlingDesktop svg{
        width: 20%;
        /* fill: #04B2D9; */
        fill: white;
    }

    .behandlingTitelDesktop{
        /* font-size: 10vw; */
        text-align: center;
    }
    
    .behandlingTitelDesktop h2{
        font-size: 5vw;
    }

    .prisTildbud{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: black;
        font-size: 2vw;
        justify-content: center;
        width: 100%;
        color: white;
        margin-top: 5vw;
        text-align: center;
        display: grid;
        grid-template: auto / 40% 40%;
        grid-gap: 40px;
    }

    .tilbud{
        border: dashed 0.3em #00a5e2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 900ms;
    }

    .tilbud:hover{
        transform: scale(1.15);
    }

    .tilbud h3{
        padding-bottom: 20px;
    }

    .tilbud p{
        margin: 0 auto;

    }

    .pris{
        width: 50%;
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
        border-top: 2px white solid;
        border-bottom: 2px white solid;
    }

    .tilbudBeskrivelse{
        padding-top: 10px;
    }
    
}





